#  
# Create `dev.env` file and load following required values
#  
NATS_URL=nats://localhost:4222/
NATS_USER=test
NATS_PW=test
GRAPHQL_URL=http://localhost:8091/graphql
CLIENT_URL=http://localhost:3011
ZIPKIN_URL=test
ZIPKIN_PORT=test
LOG_LEVEL=trace
MONGO_URL=mongodb://localhost:27017/admin-layout
REDIS_CLUSTER_URL='[{"port":6379,"host":"localhost"}]'
REDIS_URL=redis://localhost:6379
REDIS_CLUSTER_ENABLED=false
REDIS_SENTINEL_ENABLED=false

# Mail module
MAILGUN_KEY=81b1b9b95a7047bf0aca77b8ee3da1da-c9270c97-2e08d19b
MAILGUN_DOMAIN=mail.cdebase.io
MAIL_SEND_DEFAULT_EMAIL=CDEBase Teams noreplay@mail.cdebase.io


BACKEND_URL=http://localhost:8091
AUTH0_CLIENT_ID=T9XM292l33Xb12RVPvRIfrb5hYTZsRme
AUTH0_CLIENT_SECRET=U1d-16BDcLtD5y0Y3HUyPH2eGbLvYNot0io5mfNfIiwKpBunvvkzzt8R0GMm91wm
AUTH0_DOMAIN=dev-cdebase.auth0.com
AUTH0_ISSUER=https://dev-cdebase.auth0.com/
AUTH0_API_AUDIENCE=https://dev-cdebase.auth0.com/api/v2/
STRIPE_ENDPOINT_SECRET=werwerw

# AWS S3
SCREENSHOT_S3_ACCESS_KEY_ID=
SCREENSHOT_S3_SECRET_ACCESS_KEY=
SCREENSHOT_S3_BUCKET=cdmbase-screenshot-dev
SCREENSHOT_S3_SIGNATURE_VERSION=v4